<div id="signup" class="normal">
	<h3>Don't have a profile? <a href="#">Sign up for FREE</a></span></h3>
	<p>Create your job profile and</p>
	<ul>
	    <li>Create, share and store your resume online for free.</li>
	    <li>Stay organized with easy distribution and automatic tracking.</li>
	    <li>Create a professional website with complete privacy control.</li>
	    <li>Personalized job postings bring the employers directly to you.</li>
	</ul>
	<p>...all for FREE</p>
</div>