<% @page_title = "Error 500" %>
<div id="wrapper-big">
	<h1 class="error404">Oops ....</h1>
	<p class="error404">Hi. I'm Jobmia's server. There seems to be a problem with the application, but there's a few things we might be able to try.</p>
	<p class="erroractions">Suggested actions</p>
	<ul class="error404">
	    <li>If you typed the address, make sure the spelling is correct.</li>
	    <li>For information on Jobmia offerings, start from the <%= link_to "Jobmia homepage", "/" %>.</li>
	    <li>Or return to the <%= link_to "previous page", "javascript:history.go(-1)" %></li>
	</ul>
</div>