
<ul class="navigation">
	<li><%= link_to_unless_current "Company", :action => "about" %></li>
  <li><%= link_to_unless_current "Press", :action => "press" %></li>
</ul>
<ul class="navigation">
  <li><%= link_to_unless_current "Privacy Policy", :action => "privacy" %></li>
  <li><%= link_to_unless_current "User Agreement", :action => "uagreement" %></li>
</ul>