<% content_for :featured do -%>
	    <div id="insidePageTitle">
      <!--center the featured section start -->
      <div class="center">
       <div class="pageTitleWrap">
		<h2>Resume Promotion</h2>
	   </div>
      </div>
      <!--center the featured section end -->
    </div>
<% end -%>

<% content_for :sidebar do -%>
<!--Grunge Box start-->
<div class="boxGrunge">
  	<div class="sidebarInside">
      	<div>
          	<div>       	
                  <div class="box">
                  <h2>Easy Edits, <span class="highlight">Instant Updates</span></h2>
                  <blockquote cite="">
                  	<p>Each web resume is fully editable by you, and the page updates instantly.</p>
                  </blockquote>
                  </div>
              </div>
          </div>
      </div>
</div>
<!--Grunge Box End-->	
<% end -%>

<div class="contentInside clear">
  <h2>Create a powerful online identity.</h2> 
    <p>"Do you have a web address?" More and more employers are starting to ask that question. Now you can answer, "Yes, I do!" And you don't need any special knowledge or expertise to create your webpage...</p> 
  	<p>Once you've created and saved your Resume on our site, you can quickly and easily turn it into a fully functioning webpage. At the click of a button, your Resume is converted into professional looking HTML, with its own unique URL (web address) that employers can visit online!</p> 
   <div class=""><span class=""><%= link_to "Start building your digital identity", signup_path %></span></div>
   	
</div>